*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

    #intro .intro .txt {
      width: 50%;
      margin: 0 auto;
  }



    
/*데탑*/
@media screen and (max-width:1440px) {
  #intro .intro .txt {
    width: 60%;
    margin: 0 auto;
}
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {

    #intro3 .intro3_area .intro3_con {
      flex-direction: column;
  }

  #intro3 .intro3_area .intro3_txt {
    width: 90%;
}

#intro3 .intro3_area .table {
  margin-top: 5%;
  width: 100%;
}

}



/*모바일*/

@media screen and (max-width:767px) {

#intro .intro .txt {
  width: 100%;
}
}


/*모바일2*/


@media screen and (max-width:576px) {
  #intro .intro .txt {
    width: 90%;
}

#intro .intro .icon {
  width: 90%;
  margin: 0 auto;
}

#intro2 .intro2_icon{
  width: 90%;
  margin: 0 auto;
}

th, td {
  padding: 10px;
}

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
