@font-face {
  font-family: 'NIXGONM-Vb';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: active-none;
}

a:focus{
  outline: none;
}

address {
  font-style: normal;
}



h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #FFB000;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}

main {
  width: 100%;
  height: auto;
  background: url(../img/bg_main.png)no-repeat top center;
  background-size: contain;
}

body {
  color: #fff;
  background: #1E2A26;
  overflow-x: hidden;
  font-family: 'NIXGONM-Vb';
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-use-select: none;
 user-select: none;
}

p,
dd {
  line-height: 1.7;
}



/*헤더*/
header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: rgba(59, 77, 58, 0.8);
  height: 80px;
  z-index: 9999;
}

header hgroup {
  line-height: 65px;
  position: relative;
  z-index: 999;
}

header hgroup {
  width: 132px;
  text-align: center;
}

header hgroup::after {
  content: "";
  width: 132px;
  height: 108px;
  background: url(../img/logo_bg.png)no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header hgroup h1{
  line-height: 80px;
}




.nav_wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav_wrap .pc_menu {
  width: 60%;

}

.nav_wrap .pc_menu .main_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

.nav_wrap .pc_menu .main_menu li {
  position: relative;
  box-sizing: border-box;
  width: 16%;
  text-align: center;

}


.nav_wrap .pc_menu .main_menu li.lan_site {
  cursor: pointer;
}

.nav_wrap .pc_menu .main_menu li a {
  display: block;
  clear: both;
  color: #fff;

}

.nav_wrap .pc_menu .main_menu li a:hover {
  font-weight: 600;
}


.nav_wrap .pc_menu .main_menu li ul.sub {
  display: none;
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.nav_wrap .pc_menu .main_menu li ul.sub::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  transform: translateX(-50%);
}


.nav_wrap .pc_menu .main_menu li ul.sub li {
  width: 100%;
  text-align: center;
}

.nav_wrap .pc_menu .main_menu li .sub li a {
  color: #FFB000;
  text-align: center;
  line-height: 30px;
  position: relative;
  font-size: .8rem;
}

.nav_wrap .pc_menu .main_menu li .sub li a:hover {
  text-decoration: line-through;
}



.nav_wrap .pc_menu .main_menu li .sub li a::after {
  content: "Coming Soon.";
  width: 70%;
  height: 20px;
  position: absolute;
  top: 0;
  right: -60%;
  background-color: #FFB000;
  border-radius: 30px;
  color: #7E2C00;
  font-size: 10px;
  line-height: 20px;
  display: none;
  transition: all .5s;
}


.nav_wrap .pc_menu .main_menu li ul.sub.lan li a::after {
  display: none;

}

.nav_wrap .pc_menu .main_menu li ul.sub.lan li a:hover {
  text-decoration: none;
}

.nav_wrap .pc_menu .main_menu li:hover .sub,
.nav_wrap .pc_menu .main_menu li:hover .sub2 {
  display: block;
}

.nav_wrap .pc_menu .main_menu li .sub li a:hover {
  color: #7E2C00;
}

.nav_wrap .pc_menu .main_menu li .sub li a:hover::after {
  display: block;
}




/* menu_toggle */

.moblie {
  display: none;
}

.ham {
  display: none;
  position: absolute;
  top: 17px;
  right: 38px;

}


.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFB000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}


/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

/* 모바일 */

.moblie {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  padding: 5% 0;
  background-color: #ffffffe5;
  text-align: left;
  z-index: 880;
}

.moblie ul li {
  line-height: 3;
  border-bottom: 1px solid #eee;
}

.moblie ul li:hover{
  background-color: #ffffff87;
}

.moblie ul li a {
  display: block;
  clear: both;
  padding-left: 5%;
  font-size: 2rem;
  color: #222222;
  font-weight: 500;
}

.moblie ul li a:hover {
  color: #7E2C00;
  font-weight: 600;
}

.moblie ul li ul.mob_sub li {
  padding: 20px 0;
  line-height: 1.3;
  background-color: #ffffffe5;
}

.moblie ul li ul.mob_sub li:hover{
  background-color: #ffffffe5;
}

.moblie ul li.wb a.wb_a {
  position: relative;
}

.moblie ul li.wb a.wb_a::after {
  content: "comming soon";
  font-size: 12px;
  color: #FFB000;
  border: 1px solid #FFB000;
  border-radius: 10px;
  padding: 0 5px;
  position: absolute;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.moblie ul li ul.mob_sub li a {
  display: block;
  clear: both;
  font-size: 1.5rem;
  color: #898989;
  text-decoration: line-through !important;
}


/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* home */

#home .home_wrap {
  padding-top: 130px;
  height: 100vh;
  display: flex;
  align-items: center;
}

#home .home_wrap .right,
#home .home_wrap .left {
  width: 50%;
}

#home .home_wrap .left {
  display: flex;
  flex-direction: column;
}

#home .home_wrap .left .home_txt h2 {
  font-size: 5rem;
  margin-bottom: 40px;
}

#home .home_wrap .left .home_txt h2 span {
  display: block;
  font-size: 2rem;
  font-weight: normal;
}


#home .home_wrap .left .button button {
  background: #FFB000;
  width: 36%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

#home .home_wrap .left .button button:focus{
  outline: none;
}

#home .home_wrap .left .button button:hover {
  background: #fff;
  color: #FFB000;
}

#home .home_wrap .left .button button:first-child {
  margin-right: 30px;
}

#home .home_wrap .left .button button:nth-child(2) {
  position: relative;
  z-index: 1;
}

#home .home_wrap .left .button button:nth-child(2):after {
  content: "Coming Soon.";
  width: 70%;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -60%;
  background-color: #fff;
  border-radius: 30px;
  color: #7E2C00;
  border: 1px solid #FFB000;
  font-size: 10px;
  line-height: 20px;
  transition: all .5s;
  -webkit-animation: vibrate-1 1s linear infinite both;
  animation: vibrate-1 1s linear infinite both;
  display: none;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

#home .home_wrap .left .button button:nth-child(2):hover::after {
  display: block;
}


#home .home_wrap .right img {
  width: 90%;
  float: right;
}

/* intro */

#intro {
  text-align: center;
}

#intro .intro {
  padding: 140px 0;
}

#intro .intro img {
  width: 50px;

}

#intro .intro .txt {
  width: 100%;
  margin: 0 auto;
}


#intro .intro .icon {
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
}

#intro .intro .icon ul {
  display: flex;
  justify-content: space-between;
}

#intro .intro .icon ul li {
  width: 25%;

}

#intro .intro .icon ul li dl dt {
  font-size: 1.3rem;
}

#intro .intro .icon ul li dt,
#intro2 .intro2_area .icon ul li dt {
  padding: 20px 0 10px 0;
}

/* intro2 */

#intro2 .intro2_area {
  padding: 120px 0;
  text-align: center;
}

#intro2 h3 {
  margin-bottom: 0;
}

#intro2 span {
  display: block;
  position: relative;
  padding-bottom: 50px;
}

#intro2 .intro2_area .intro2_icon {
  width: 100%;
  margin: 0 auto;
}

#intro2 span::after {
  content: " ";
  width: 10%;
  height: 1px;
  border-bottom: 2px dashed #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}



#intro2 .intro2_area .intro2_icon ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#intro2 .intro2_area .intro2_icon ul li {
  width: 33%;
  padding-top: 80px;
}

#intro2 .intro2_area .intro2_icon ul li dt {
  padding: 20px 0 10px 0;
}

#intro2 .intro2_area .intro2_icon ul li dl dt {
  font-size: 1.3rem;
}




/* intro3 */
#intro3 {
  padding: 120px 0;
}

#intro3 .intro3_area {}

#intro3 .intro3_area .intro3_con {
  display: flex;
  justify-content: space-between;
}

#intro3 .intro3_area .intro3_txt {
  width: 40%;
  line-height: 2;
}

#intro3 .intro3_area .intro3_txt h3 {
  margin-bottom: 50px;
  margin-bottom: 50px;
}

#intro3 .intro3_area .table {
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-spacing: 3px;
  text-align: center;
  border-collapse: separate;
}

.table td,
.table th {
  border: none;
}

th,
td {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-spacing: 10px;
}

th {
  text-align: left;
}

thead th {
  text-align: center;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.5);
  border-spacing: 10px;

}

tbody tr.td_first {
  padding: 30px;
  background: rgba(36, 36, 36, 0.3);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}


.table td:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #222222;
  font-weight: 600;
}



/* nft */

#nft {
  padding: 120px 0;
  text-align: center;
}

#nft h3 {
  margin-bottom: 100px;
}


/* wallet */
#wallet {
  width: 100%;
  padding: 120px 0;
  overflow: hidden;
  position: relative;
}

.wallet_wrap {
  width: 100%;
}

.wll_blck_box {
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #66746b;
  backdrop-filter: blur(2.5px);
  border-radius: 30px;
}

.wll_contents_wrap {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.wallet_phone {
  width: 50%;
}

.wallet_phone img {
  max-width: 100%;
}

.wallet_txt {
  width: 50%;
  padding: 3%;
}

.wallet_txt b {
  font-weight: 800;
  margin-right: 2%;
}

.wallet_txt h5 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 7%;
}

#wallet button.wallet_link_btn {
  display: inline-block;
  background: #FFB000;
  width: 45%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  position: relative;
}

#wallet button.wallet_link_btn::after {
  content: "Coming Soon.";
  width: 50%;
  height: 20px;
  position: absolute;
  top: -10px;
  background-color: #fff;
  border-radius: 30px;
  color: #7E2C00;
  border: 1px solid #FFB000;
  font-size: 10px;
  line-height: 20px;
  transition: all .5s;
  -webkit-animation: vibrate-2 1s linear infinite both;
  animation: vibrate-2 1s linear infinite both;
}

#wallet button.wallet_link_btn:focus{
  outline: none;
}


@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

#wallet .wallet_link_btn:hover {
  background: #fff;
  color: #FFB000;
}


/* roadmap */
#roadmap {
  width: 100%;
  padding: 120px 0;
  overflow: hidden;
  position: relative;
}

.roadmap_wrap {
  width: 100%;
}

#roadmap h3 {
  text-align: center;
  color: #fff;
}

.rdm_contents_wrap {
  width: 100%;
  margin: 120px 0 250px 0;
  display: flex;
  justify-content: space-between;
}

.rdm_cont_box {
  position: relative;
  padding: 2%;

  width: 23%;
  height: fit-content;

  background: rgba(49, 62, 49, 0.78);
  border: 2px solid #5c6d62;
  border-radius: 5px;
}

.rdm_img {
  position: absolute;
  top: -70px;
}

.rdm_img img {
  max-width: 80%;
}

#roadmap .rdm_cont_box:nth-child(2),
#roadmap .rdm_cont_box:nth-child(3) {
  bottom: -200px;
  height: 350px;
}

.rdm_cont_box h5 {
  color: #FEC726;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 6%;
}

.rdm_cont_box p {
  line-height: 160%;
  font-size: 0.95rem;
  font-weight: lighter;
}

/* contact */
#contact {
  width: 100%;
  height: auto;
  background: #E2E2E2;
  padding: 100px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#contact::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/AdobeStock_563826099.png) no-repeat center;
  filter: brightness(0.5);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#contact .ct_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#contact .ct_wrap h3 {
  text-align: center;
  padding-bottom: 3%;
  color: #fff;
  position: relative;
}

#contact .ct_wrap form {
  width: 100%;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  display: block;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #717E60;
  width: 80%;
  margin: 0 auto 20px;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2.5px);
  outline: none;
  cursor: text;
}

#contact .ct_wrap form .half_input {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contact .ct_wrap form .half_input .email,
#contact .ct_wrap form .half_input .name {
  width: 49%;
  border-radius: 5px;
}

#contact .ct_wrap form .half_input .email {
  margin-right: 2%;
}

#contact textarea {
  border-radius: 5px;
  height: 300px;
}

#contact .ct_wrap form input.send {
  width: 25%;
  background: #FFB000;
  padding: 0 !important;
  line-height: 4.5rem;
  border-radius: 10px;
  border: 0;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
  margin-top: 4%;
  transition: all .5s;
  cursor: pointer;
}

#contact .ct_wrap form input.send:hover {
  background: #fff;
  color: #FFB000;
}

/* footer */
footer {
  width: 100%;
  height: auto;
  padding: 2% 0;
  background-color: #202020;
}

.f_ct {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5%;
  margin: 1% 0;
}

footer h5 {
  margin-bottom: 10%;
  font-size: 0.95rem;
}

.f_com {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.f_com a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.f_com a:hover {
  color: #FEC726;
}

footer .f_wrap .warning {
  margin-top: 4%;
  text-align: center;
  font-size: 10px;
  color: rgb(163, 163, 163);
  line-height: 160%;
}