
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
}



/*모바일*/

@media screen and (max-width:767px) {
  .debug {
    opacity: 0.8;
    display: block;
    position: absolute;
    z-index: 1;
    font-family: sans-serif;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    background: #000;
    color: #fff;
    width: 150px;
    height: 100px;
    line-height: 150px;
    text-align: center;
    user-select: none;
  }
    .debug:hover {
      opacity: 1;
    }
    .debug.active {
      background: #fff;
      color: #000;
    }

  .debug.active+.grid path.line--debug {
    opacity: .2;
  }
}


/* dribbble - twitter */
.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
    display: block;
    height: 28px;
  }
.twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
.twitter svg {
    width: 32px;
    height: 32px;
  }
.twitter svg path {    
      fill: #1da1f2;
      stroke: none;
    }

}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
