/*데탑*/
@media screen and (max-width:1440px) {
  .nav_wrap .pc_menu {
    width: 75%;
  }

  /* intro2 */
  #intro2 .intro2_area .intro2_icon ul li dl dd br {
    display: none;
  }

  #intro2 .intro2_area .intro2_icon ul li {
    width: 30%;
  }

  /* roadmap */
  #roadmap .rdm_cont_box:nth-child(2),
  #roadmap .rdm_cont_box:nth-child(3) {
    height: 400px;
  }
}



/*노트북*/
@media screen and (max-width:1024px) {
  main {
    width: 100%;
    height: auto;
    background: url(../img/bg_main_mo.png)no-repeat top center;
    background-size: cover;
  }

  /* home */
  .nav_wrap .pc_menu {
    width: 85%;
  }

  #home .home_wrap .right,
  #home .home_wrap .left {
    width: 100%;
  }

  #home .home_wrap .left .home_txt h2 {
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  #home .home_wrap {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: flex-end;
  }

  #home .home_wrap .right img {
    width: 80%;
  }

  /* intro */
  #intro .intro {
    padding: 0;
  }


  #intro .intro .icon ul li {
    width: 23%;
  }

  /* intro3 */
  #intro3,
  #nft {
    padding: 100px 0;
  }

  #intro3 .intro3_area .intro3_txt {
    width: 35%;
  }

  #intro3 .intro3_area .intro3_txt br {
    display: none;
  }

  /* contact */
  #contact .ct_wrap form input.send {
    line-height: 3.3rem;
  }

  /* footer */
  footer {
    padding: 6% 0;
  }
}

/*아이패드 (768px)*/
@media screen and (max-width:991px) {

  .nav_wrap .pc_menu {
    display: none;
  }

  /* menu_toggle */
  .ham {
    display: block;
  }

  /* roadmap */
  .rdm_contents_wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rdm_cont_box {
    width: 80%;
    padding: 2% 2% 7% 2%;
    margin-bottom: 15%;
  }

  #roadmap .rdm_cont_box:nth-child(2),
  #roadmap .rdm_cont_box:nth-child(3) {
    bottom: 0;
    height: fit-content;
  }

  .rdm_contents_wrap {
    margin: 150px 0 0px 0;
  }

  /* contact */
  #contact .ct_wrap form input.send {
    width: 35%;
  }

}

/*모바일*/

@media screen and (max-width:767px) {

  /* home */

  #home .home_wrap .right img {
    width: 100%;
  }

  /* intro */
  #intro .intro .icon ul {
    flex-wrap: wrap;
  }

  #intro .intro .icon ul li {
    width: 45%;
    margin-top: 5%;
  }



  .table td {
    font-size: 12px;
  }

  #intro .intro .txt {
    width: 90%;
  }

  #intro .intro .txt br {
    display: none;
  }

  #intro .intro .icon ul li dl dt,
  #intro2 .intro2_area .intro2_icon ul li dl dt {
    font-size: 1rem;
  }

  #intro .intro .icon ul li dl dd,
  #intro2 .intro2_area .intro2_icon ul li dl dd {
    font-size: 12px;
  }

  #intro2 .intro2_area .intro2_icon ul li {
    width: 45%;
    margin-top: 5%;
  }

  /* intro3 */
  #intro3 .intro3_area .intro3_con {
    flex-direction: column;
  }

  #intro3 .intro3_area .intro3_txt {
    width: 90%;
  }

  #intro3 .intro3_area .table {
    margin-top: 10%;
    width: 100%;
  }


  /* wallet */
  .wll_contents_wrap {
    flex-direction: column;
  }

  .wallet_phone {
    width: 90%;
  }

  .wallet_txt {
    width: 100%;
    margin-top: 5%;
  }

  /* contact */
  #contact .ct_wrap form .half_input {
    flex-direction: column;
  }

  #contact .ct_wrap form .half_input .email {
    margin: 0 0 5% 0;
  }

  #contact .ct_wrap form .half_input .email,
  #contact .ct_wrap form .half_input .name {
    width: 100%;
  }

  #contact .ct_wrap form input.send {
    width: 45%;
    line-height: 3rem;
    border-radius: 5px;
  }

  #contact .ct_wrap form .half_input {
    width: 90%;
  }

  #contact input,
  #contact textarea {
    width: 90%;
  }

  /* footer */
  .f_ct {
    flex-direction: column;
    padding: 5% 0;
    text-align: center;
  }

  .f_info {
    width: 100%;
  }

  footer h5 {
    margin-bottom: 4%;
  }

  .f_com {
    width: 100%;
    padding: 0 30%;
    margin-top: 5%;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {

  .moblie ul li a {
    font-size: 1.3rem;
  }

  .moblie ul li ul.mob_sub li a {
    font-size: 1rem;
  }

  /* home */
  #home .home_wrap .left .home_txt h2 {
    font-size: 3rem;
  }

  #home .home_wrap .left .button button {
    background: #FFB000;
    width: 70%;
  }

  #home .home_wrap .left .button button:first-child {
    margin-right: 0;
    margin-bottom: 5%;
  }

  /* intro */
  #intro .intro .icon {
    width: 90%;
  }

  /* intro2 */
  #intro2 .intro2_area .intro2_icon {
    width: 90%;
  }

  /* roadmap */
  .rdm_cont_box {
    margin-bottom: 23%;
  }

}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {
  main {
    background: url(../img/bg_main_mo2.png)no-repeat top center;
  }

  h3 {
    font-size: 2em;
  }

  th,
  td {
    padding: 16px;
  }

  /* home */
  #home .home_wrap .left .home_txt h2 {
    font-size: 2rem;
  }

  #home .home_wrap .left .home_txt h2 span {
    font-size: 1.2rem;
  }

  #home .home_wrap .left .button button {
    padding: 8px;
  }

  /* intro3 */

  #intro3 .intro3_area .intro3_txt {
    width: 100%;
  }

  /* roadmap */
  .rdm_cont_box {
    width: 95%;
  }

  .rdm_img {
    top: -45px;
  }

  .rdm_img img {
    max-width: 50%;
  }
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {}